/* 
Feuille de style principale

Créateur : Romain Lahaxe
Date de création : 2016-03-05

*/

/*-----------------------------------------------------------------------------*/
/*----------------------------------- TOUT ------------------------------------*/
*
{
}

/*-----------------------------------------------------------------------------*/
/*----------------------------------- BODY ------------------------------------*/
body
{
    background-color: #DDDDDD;
    margin: 0 auto;
    width: 1000px;
}

/*-----------------------------------------------------------------------------*/
/*----------------------------------- MENU ------------------------------------*/
#menu
{
}

/*-----------------------------------------------------------------------------*/
/*----------------------------------- CORPS -----------------------------------*/
#corps
{
}

/*-----------------------------------------------------------------------------*/
/*----------------------------------- FOOTER ----------------------------------*/
#footer
{
}
